<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cook.mymealkit.mapper.AdminMapper">
	<select id="getUserCountByRegDate" resultType="com.cook.mymealkit.domain.ChartVO">
	select count(reg_date) as cnt, reg_date from tbl_user
	 	where reg_date BETWEEN #{startDate} AND #{endDate} group by reg_date order by  reg_date
	</select>
	
	<select id="getUserBuyCountByBuyDate" resultType="com.cook.mymealkit.domain.ChartVO">
		select count(buy_date) as buycnt, buy_date from tbl_user_buy
	 		where buy_date between #{startDateB} and #{endDateB} group by buy_date order by buy_date
	</select>
</mapper>