<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cook.mymealkit.mapper.ItemMapper">

	<insert id="itemInsert" parameterType="com.cook.mymealkit.domain.ItemVO">
		insert into tbl_item (item_id, category, item_name, item_price, description, item_stock, item_sold) 
			values(seq_item.nextval,#{category},#{item_name},#{item_price},#{description},#{item_stock},#{item_sold})
	</insert>
	
	<select id="itemList" resultType="com.cook.mymealkit.domain.ItemVO">
		<![CDATA[
  		select * from tbl_item where item_id >0
  		]]>
	</select>
	
	<select id="itemFindById" resultType="com.cook.mymealkit.domain.ItemVO" parameterType="long">
		select * from tbl_item where item_id=#{item_id}
	</select>
	
	<update id="itemUpdate" parameterType="com.cook.mymealkit.domain.ItemVO">
		update tbl_item set category=#{category}, item_name=#{item_name}, item_price=#{item_price},
			item_stock=#{item_stock}, item_sold=#{item_sold}, description=#{description} where item_id=#{item_id}
	</update>
	
	<delete id="itemDelete">
		delete from tbl_item where item_id=#{item_id}
	</delete>
	
	<select id="getMax" resultType="long">
		select coalesce(max(item_id),0) from tbl_item
	</select>
	
	<select id="get_price" resultType="int">
		select item_price from tbl_item where item_id=#{item_id}
	</select>
	
	<select id="categoryItemList" resultType="com.cook.mymealkit.domain.ItemVO" parameterType="string" >
		select * from tbl_item where category=#{category}
	</select>

	<select id="categoryItemListByStartAndEnd" resultType="com.cook.mymealkit.domain.ItemVO" parameterType="com.cook.mymealkit.domain.ItemVO" >
		select * from tbl_item where item_price between #{start} and #{end}
	</select>
	
	<select id="itemListBySearch" resultType="com.cook.mymealkit.domain.ItemVO" parameterType="string">
		<![CDATA[
  		select * from tbl_item where item_id >0 and item_name like '%' ||  #{search} || '%'
  		]]>
	</select>
	
	<select id="getItemIdName" resultType="com.cook.mymealkit.domain.ItemVO">
		select item_id, item_name from tbl_item 
		where item_id = #{item_id}	
	</select>

	<select id="categoryByNewOrBest" resultType="com.cook.mymealkit.domain.ItemVO">
			<choose>
				<when test="itemType == 1">
					select *
						from (
						    select *
						    from tbl_item
						    order by update_date desc
						)
					<![CDATA[where rownum <= 10]]>	
				</when>
				<otherwise>
					select *
						from (
						    select *
						    from tbl_item
						    order by item_sold desc
						)
					<![CDATA[where rownum <= 10]]>	
				</otherwise>
			</choose>
	</select>
	
	<select id="likeSelect" resultType="com.cook.mymealkit.domain.SelectDTO">
		select * from
			(select rownum as rn, item_id, item_name (select category from tbl_item where tbl_item.category = tbl_item.category) as category
				from tbl_item
					<![CDATA[where rn < 9]]>
	</select>
	
</mapper>
