<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cook.mymealkit.mapper.QuestionMapper">

<!-- 검색 조건문 -->
      <sql id="criteria">
        <trim prefix="AND (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title like '%'||#{keyword}||'%' 
                        </when>
                        <when test="type == 'C'.toString()">
                            content like '%'||#{keyword}||'%' 
                        </when>
                        <when test="type == 'W'.toString()">
                            writer like '%'||#{keyword}||'%' 
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>

    <!-- 문의 등록 -->
    <insert id="enroll">    
        insert into tbl_question(qno, title, content, writer, password) values (seq_question.NEXTVAL, #{title}, #{content}, #{writer}, #{password})        
    </insert>
    
    <!-- 문의 목록 -->
    <select id="getList" resultType="com.cook.mymealkit.domain.QuestionVO">
        select * from tbl_question
    </select>
    
    <!-- 문의 조회 -->
    <select id="getPage" resultType="com.cook.mymealkit.domain.QuestionVO">
        select * from tbl_question where qno = #{qno}
    </select>
    
    <!-- 문의 수정 -->
    <update id="modify">
        update tbl_question set title = #{title}, content = #{content}, updatedate = sysdate where qno = #{qno}
    </update>
    
     <!-- 문의 삭제 -->
    <delete id="delete">
        delete from tbl_question where qno = #{qno}
    </delete>
    
    <select id="getTotal" resultType="int">
        select count(*) from tbl_question
    </select>

    <!-- 문의 목록(페이징) -->
    <select id="getListPaging" resultType="com.cook.mymealkit.domain.QuestionVO">
    <![CDATA[
        select qno, title, content, writer, writedate, updatedate, password from(
                select /*+INDEX_DESC(tbl_question pk_board) */ rownum  as rn, qno, title, content, writer, writedate, updatedate, password     
                	from tbl_question where rownum <= #{pageNum} * #{amount})         
        				where rn > (#{pageNum} -1) * #{amount}
    ]]>
    </select>
</mapper>